In [3]:
import pandas as pd
import matplotlib.pylab as plt

In [1]:
import opendatasets as od
import pandas
 
od.download(
    "https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows")

Downloading imdb-dataset-of-top-1000-movies-and-tv-shows.zip to .\imdb-dataset-of-top-1000-movies-and-tv-shows

100%|██████████| 175k/175k [00:00<00:00, 364kB/s]

Kode di bawah ini untuk menampilkan data yang telah diambil dan membaginya ke dalam 2 data, yaitu df untuk data mentahnya, sedangkan ext untuk data yang akan diolah

In [2]:
import pandas as pd
df = pd.read_csv("C:\Pemrograman\Data Analisys\Proyek_ALJUT\imdb-dataset-of-top-1000-movies-and-tv-shows\imdb_top_1000.csv")
ext = df
#df adalah data mentah, dan data ext merupakan data yang akan diproses dan dianalisis
df.head

<bound method NDFrame.head of                                            Poster_Link
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...  \
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

                 Series_Title Released_Year Certificate  Runtime
0    The Shawshank Redemption          1994           A  142 min  \
1               The Godfather          1972           A  175 min
2             The Dark Knight          2008          UA  152 min
3      The Godfather: Part II          1974           A  202 min
4                12 Angry Men          1957           U   96 min
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A  115 min
996                     Giant          1956           G  201 min
997     From Here to Eternity          1953      Passed  118 min
998                  Lifeboat          1944         NaN   97 min
999              The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating
0                       Drama          9.3  \
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score
0    Two imprisoned men bond over a number of years...        80.0  \
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                 Director              Star1              Star2
0          Frank Darabont        Tim Robbins     Morgan Freeman  \
1    Francis Ford Coppola      Marlon Brando          Al Pacino
2       Christopher Nolan     Christian Bale       Heath Ledger
3    Francis Ford Coppola          Al Pacino     Robert De Niro
4            Sidney Lumet        Henry Fonda        Lee J. Cobb
..                    ...                ...                ...
995         Blake Edwards     Audrey Hepburn     George Peppard
996        George Stevens   Elizabeth Taylor        Rock Hudson
997        Fred Zinnemann     Burt Lancaster   Montgomery Clift
998      Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999      Alfred Hitchcock       Robert Donat  Madeleine Carroll

              Star3           Star4  No_of_Votes        Gross
0        Bob Gunton  William Sadler      2343110   28,341,469
1        James Caan    Diane Keaton      1620367  134,966,411
2     Aaron Eckhart   Michael Caine      2303232  534,858,444
3     Robert Duvall    Diane Keaton      1129952   57,300,000
4     Martin Balsam    John Fiedler       689845    4,360,000
..              ...             ...          ...          ...
995   Patricia Neal     Buddy Ebsen       166544          NaN
996      James Dean   Carroll Baker        34075          NaN
997    Deborah Kerr      Donna Reed        43374   30,500,000
998   Walter Slezak  William Bendix        26471          NaN
999  Lucie Mannheim  Godfrey Tearle        51853          NaN

[1000 rows x 16 columns]>

Kode di bawah untuk mengecek nilai null untuk selanjutnya diproses

In [5]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Poster_Link
Poster_Link
False    1000
Name: count, dtype: int64

Series_Title
Series_Title
False    1000
Name: count, dtype: int64

Released_Year
Released_Year
False    1000
Name: count, dtype: int64

Certificate
Certificate
False    899
True     101
Name: count, dtype: int64

Runtime
Runtime
False    1000
Name: count, dtype: int64

Genre
Genre
False    1000
Name: count, dtype: int64

IMDB_Rating
IMDB_Rating
False    1000
Name: count, dtype: int64

Overview
Overview
False    1000
Name: count, dtype: int64

Meta_score
Meta_score
False    843
True     157
Name: count, dtype: int64

Director
Director
False    1000
Name: count, dtype: int64

Star1
Star1
False    1000
Name: count, dtype: int64

Star2
Star2
False    1000
Name: count, dtype: int64

Star3
Star3
False    1000
Name: count, dtype: int64

Star4
Star4
False    1000
Name: count, dtype: int64

No_of_Votes
No_of_Votes
False    1000
Name: count, dtype: int64

Gross
Gross
False    831
True     169
Name: count, dtype: int64

Kolom yang memiliki missing value adalah Gross, Meta-score, dan Certificate